@mixin fontHeading ($fontSize: 40px, $padd...) {
    font-size: $fontSize;
    padding: $padd;
}


@mixin link($color) {
    color: $color;

    &:hover {
        color: darken($color, 20%);
    }
    &:active {
        color: darken($color, 30%);
    }
    &:visited {
        color: darken($color, 35%);
    }
}