@mixin skillStyle ($top, $left, $width: auto, $height: auto, $fontSize: 15px) {
    font-size: $fontSize;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}
@mixin skillStyleRtl ($top, $right, $width: auto, $height: auto, $fontSize: 15px) {
    font-size: $fontSize;
    top: $top;
    right: $right;
    left: auto;
    width: $width;
    height: $height;
}

.skill0 {
    @include skillStyle(-90px, 180px);
}
.skill1 {
    @include skillStyle(-90px, 450px, auto, auto, 22px);
}
.skill2 {
    @include skillStyle(330px, 190px, 150px, 140px);
}
.skill3 {
    @include skillStyle(00px, 110px, auto, auto, 23px);
}
.skill4 {
    @include skillStyle(70px, 140px, auto, auto, 16px);
}
.skill5 {
    @include skillStyle(100px, 90px);
}
.skill6 {
    @include skillStyle(16px, 550px, 180px, 180px);
}
.skill7 {
    @include skillStyle(0px, 30px, auto, auto, 23px);
}
.skill8 {
    @include skillStyle(70px, 10px, auto, auto, 20px);
}
.skill8_1 {
    @include skillStyle(70px, 120px, auto, auto, 16px);
}
.skill8_2 {
    @include skillStyle(145px, 120px, auto, auto, 18px);
}
.skill9 {
    @include skillStyle(158px, 10px);
}
.skill10 {
    @include skillStyle(30px, 330px, auto, auto, 22px);
}
.skill11 {
    @include skillStyle(380px, 140px, auto, auto, 20px);
}
.skill11_1 {
    @include skillStyle(490px, 20px, auto, auto, 20px);
}
.skill11_2 {
    @include skillStyle(360px, -40px, auto, auto, 20px);
}
.skill12 {
    @include skillStyle(180px, 350px, auto, auto, 22px);
}
.skill13 {
    @include skillStyle(10px, -50px, 250px, 250px);
}
.skill14 {
    @include skillStyle(10px, 70px, auto, auto, 23px);
}
.skill15 {
    @include skillStyle(105px, 8px);
}
.skill15_1 {
    @include skillStyle(90px, 190px);
}
.skill16 {
    @include skillStyle(210px, 50px);
}
.skill17 {
    @include skillStyle(190px, 190px);
}
.skill18 {
    @include skillStyle(300px, 470px, 150px, 130px);
}
.skill19 {
    @include skillStyle(10px, 30px, auto, auto, 23px);
}
.skill20 {
    @include skillStyle(90px, 10px);
}
.skill21{
    @include skillStyle(70px, 120px);
}

#he .skill1 {
    @include skillStyleRtl(-90px, 200px, auto, auto, 22px);
}
#he .skill2 {
    @include skillStyleRtl(330px, 190px, 150px, 140px);
}
#he .skill3 {
    @include skillStyleRtl(10px, 50px, auto, auto, 23px);
}
#he .skill4 {
    @include skillStyleRtl(90px, 10px, auto, auto, 16px);
}
#he .skill5 {
    @include skillStyleRtl(100px, 90px);
}
#he .skill6 {
    @include skillStyleRtl(16px, 550px, 180px, 180px);
}
#he .skill7 {
    @include skillStyleRtl(0px, 30px, auto, auto, 23px);
}
#he .skill8 {
    @include skillStyleRtl(70px, 10px, auto, auto, 20px);
}
#he .skill8_1 {
    @include skillStyleRtl(70px, 120px, auto, auto, 16px);
}
#he .skill8_2 {
    @include skillStyleRtl(135px, 120px, auto, auto, 18px);
}
#he .skill9 {
    @include skillStyleRtl(165px, 40px);
}
#he .skill10 {
    @include skillStyleRtl(30px, 310px, auto, auto, 22px);
}
#he .skill11 {
    @include skillStyleRtl(390px, 0px, auto, auto, 22px);
}
#he .skill12 {
    @include skillStyleRtl(150px, 390px, auto, auto, 22px);
}
#he .skill13 {
    @include skillStyleRtl(10px, -50px, 250px, 250px);
}
#he .skill14 {
    @include skillStyleRtl(10px, 70px, auto, auto, 23px);
}    
#he .skill15 {
    @include skillStyleRtl(105px, 8px);
}
#he .skill15_1 {
    @include skillStyleRtl(90px, 190px);
}
#he .skill16 {
    @include skillStyleRtl(210px, 50px);
}
#he .skill17 {
    @include skillStyleRtl(185px, 180px);
}
#he .skill18 {
    @include skillStyleRtl(300px, 390px, 150px, 130px);
}
#he .skill19 {
    @include skillStyleRtl(10px, 30px, auto, auto, 23px);
}
#he .skill20 {
    @include skillStyleRtl(90px, 10px);
}
#he .skill21{
    @include skillStyleRtl(70px, 120px);
}