.skill1 {
  font-size: 22px;
  top: -90px;
  left: 450px;
  width: auto;
  height: auto;
}

.skill2 {
  font-size: 15px;
  top: 330px;
  left: 190px;
  width: 150px;
  height: 140px;
}

.skill3 {
  font-size: 23px;
  top: 10px;
  left: 50px;
  width: auto;
  height: auto;
}

.skill4 {
  font-size: 16px;
  top: 90px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill5 {
  font-size: 15px;
  top: 100px;
  left: 90px;
  width: auto;
  height: auto;
}

.skill6 {
  font-size: 15px;
  top: 16px;
  left: 550px;
  width: 180px;
  height: 180px;
}

.skill7 {
  font-size: 23px;
  top: 0px;
  left: 30px;
  width: auto;
  height: auto;
}

.skill8 {
  font-size: 20px;
  top: 70px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill8_1 {
  font-size: 16px;
  top: 70px;
  left: 120px;
  width: auto;
  height: auto;
}

.skill8_2 {
  font-size: 18px;
  top: 135px;
  left: 120px;
  width: auto;
  height: auto;
}

.skill9 {
  font-size: 15px;
  top: 165px;
  left: 40px;
  width: auto;
  height: auto;
}

.skill10 {
  font-size: 22px;
  top: 0px;
  left: 310px;
  width: auto;
  height: auto;
}

.skill11 {
  font-size: 22px;
  top: 390px;
  left: 0px;
  width: auto;
  height: auto;
}

.skill12 {
  font-size: 22px;
  top: 180px;
  left: 350px;
  width: auto;
  height: auto;
}

.skill13 {
  font-size: 15px;
  top: 10px;
  left: -50px;
  width: 250px;
  height: 250px;
}

.skill14 {
  font-size: 23px;
  top: 10px;
  left: 70px;
  width: auto;
  height: auto;
}

.skill15 {
  font-size: 15px;
  top: 105px;
  left: 8px;
  width: auto;
  height: auto;
}

.skill15_1 {
  font-size: 15px;
  top: 90px;
  left: 190px;
  width: auto;
  height: auto;
}

.skill16 {
  font-size: 15px;
  top: 210px;
  left: 50px;
  width: auto;
  height: auto;
}

.skill17 {
  font-size: 15px;
  top: 190px;
  left: 190px;
  width: auto;
  height: auto;
}

.skill18 {
  font-size: 15px;
  top: 300px;
  left: 470px;
  width: 150px;
  height: 130px;
}

.skill19 {
  font-size: 23px;
  top: 10px;
  left: 30px;
  width: auto;
  height: auto;
}

.skill20 {
  font-size: 15px;
  top: 90px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill21 {
  font-size: 15px;
  top: 70px;
  left: 120px;
  width: auto;
  height: auto;
}

#he .skill1 {
  font-size: 22px;
  top: -90px;
  right: 450px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill2 {
  font-size: 15px;
  top: 330px;
  right: 190px;
  left: auto;
  width: 150px;
  height: 140px;
}

#he .skill3 {
  font-size: 23px;
  top: 10px;
  right: 50px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill4 {
  font-size: 16px;
  top: 90px;
  right: 10px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill5 {
  font-size: 15px;
  top: 100px;
  right: 90px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill6 {
  font-size: 15px;
  top: 16px;
  right: 550px;
  left: auto;
  width: 180px;
  height: 180px;
}

#he .skill7 {
  font-size: 23px;
  top: 0px;
  right: 30px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill8 {
  font-size: 20px;
  top: 70px;
  right: 10px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill8_1 {
  font-size: 16px;
  top: 70px;
  right: 120px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill8_2 {
  font-size: 18px;
  top: 135px;
  right: 120px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill9 {
  font-size: 15px;
  top: 165px;
  right: 40px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill10 {
  font-size: 22px;
  top: 0px;
  right: 310px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill11 {
  font-size: 22px;
  top: 390px;
  right: 0px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill12 {
  font-size: 22px;
  top: 150px;
  right: 390px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill13 {
  font-size: 15px;
  top: 10px;
  right: -50px;
  left: auto;
  width: 250px;
  height: 250px;
}

#he .skill14 {
  font-size: 23px;
  top: 10px;
  right: 70px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill15 {
  font-size: 15px;
  top: 105px;
  right: 8px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill15_1 {
  font-size: 15px;
  top: 90px;
  right: 190px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill16 {
  font-size: 15px;
  top: 210px;
  right: 50px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill17 {
  font-size: 15px;
  top: 185px;
  right: 180px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill18 {
  font-size: 15px;
  top: 300px;
  right: 470px;
  left: auto;
  width: 150px;
  height: 130px;
}

#he .skill19 {
  font-size: 23px;
  top: 10px;
  right: 30px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill20 {
  font-size: 15px;
  top: 90px;
  right: 10px;
  left: auto;
  width: auto;
  height: auto;
}

#he .skill21 {
  font-size: 15px;
  top: 70px;
  right: 120px;
  left: auto;
  width: auto;
  height: auto;
}

h1 {
  font-size: 25px;
  padding: 10px 5px;
}