body {
  background: #fff;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  color: #333;
  padding: 10px 5px;
}
h1:hover {
  color: #000;
}