.skill1 {
  font-size: 22px;
  top: -90px;
  left: 450px;
  width: auto;
  height: auto;
}

.skill2 {
  font-size: 15px;
  top: 330px;
  left: 190px;
  width: 150px;
  height: 140px;
}

.skill3 {
  font-size: 23px;
  top: 10px;
  left: 50px;
  width: auto;
  height: auto;
}

.skill4 {
  font-size: 16px;
  top: 90px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill5 {
  font-size: 15px;
  top: 100px;
  left: 90px;
  width: auto;
  height: auto;
}

.skill6 {
  font-size: 15px;
  top: 40px;
  left: 550px;
  width: 150px;
  height: 150px;
}

.skill7 {
  font-size: 23px;
  top: 10px;
  left: 30px;
  width: auto;
  height: auto;
}

.skill8 {
  font-size: 20px;
  top: 90px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill9 {
  font-size: 15px;
  top: 120px;
  left: 90px;
  width: auto;
  height: auto;
}

.skill10 {
  font-size: 22px;
  top: 0px;
  left: 310px;
  width: auto;
  height: auto;
}

.skill11 {
  font-size: 22px;
  top: 390px;
  left: 0px;
  width: auto;
  height: auto;
}

.skill12 {
  font-size: 22px;
  top: 150px;
  left: 390px;
  width: auto;
  height: auto;
}

.skill13 {
  font-size: 15px;
  top: 10px;
  left: -50px;
  width: 250px;
  height: 250px;
}

.skill14 {
  font-size: 23px;
  top: 10px;
  left: 70px;
  width: auto;
  height: auto;
}

.skill15 {
  font-size: 15px;
  top: 110px;
  left: 20px;
  width: auto;
  height: auto;
}

.skill16 {
  font-size: 15px;
  top: 210px;
  left: 80px;
  width: auto;
  height: auto;
}

.skill17 {
  font-size: 15px;
  top: 140px;
  left: 190px;
  width: auto;
  height: auto;
}

.skill18 {
  font-size: 15px;
  top: 300px;
  left: 470px;
  width: 150px;
  height: 130px;
}

.skill19 {
  font-size: 23px;
  top: 10px;
  left: 30px;
  width: auto;
  height: auto;
}

.skill20 {
  font-size: 15px;
  top: 90px;
  left: 10px;
  width: auto;
  height: auto;
}

.skill21 {
  font-size: 15px;
  top: 70px;
  left: 120px;
  width: auto;
  height: auto;
}